[mysql]
host = 127.0.0.1
dbUser = root
password = secrete
dbName= v103rc4

[importConfigs]
inputFile = /home/krishagni/Desktop/indiana/migrate-forms-data/specimen_custom_field_Specimen.csv
formDbDetails = /home/krishagni/Desktop/indiana/migrate-forms-data/specimen-custom-field-details.csv
formContextId = 38
entityType = Specimen
userId = 2 
